{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
    <turbo-stream action="append" targets="#books tbody">
        <template>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': entity.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': entity.id}) }}">edit</a>
                </td>
            </tr>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
{% endblock %}

{% block remove %}
{% endblock %}
